<!DOCTYPE html>
<html lang="pl">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="./styles/style.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="./styles/fonts.css">
        <script src="./scripts/components/alterbox.js" defer></script>
        <title>Police OS</title>
    </head>

    <body>
        <div id="root">
            <header id="logo">
                <h1>PoliceOS</h1>
            </header>
            <section class="row main-section">
                <div class="main-side">
                    <nav class="main-nav col">
                        <button class="nav-btn">Mandaty</button>
                        <button class="nav-btn">Aresztowania</button>
                        <button class="nav-btn">Notatki</button>
                    </nav>
                    <div class="col">
                        <button class="nav-btn" class="edit-user-info">Edit</button>
                        <div class="user-data">
                            <div class="user-info">
                                <span>Funkcjonariusz: </span>
                                <span id="user-name">-</span>
                            </div>
                            <div class="user-info">
                                <span>Stopień: </span>
                                <span id="user-status">-</span>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="main-view">
                    <div class="search-bar">
                        <input type="search" id="search" placeholder="Wpisz imię i nazwisko szukanego">
                    </div>
                    <div class="content">

                    </div>
                </div>
            </section>
        </div>
        <div class="alert-box">
            <div class="box">
                <div class="box-bar">
                    Wypełnij dane
                </div>
                <div class="box-content">
                    <label>
                        <span>Wpisz imię i nazwisko:</span>
                        <input data-name="name" type="text" autocomplete="name">
                    </label>
                    <label>
                        <span>Wpisz stopień:</span>
                        <input data-name="status" type="text" autocomplete="status">
                    </label>
                    <button type="submit">Zapisz</button>
                </div>
            </div>
        </div>

        <script src="./scripts/app.js" defer></script>
    </body>

</html>
