<!DOCTYPE html>
<html lang="pl">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="./styles/style.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="./styles/fonts.css">

        <title>Police OS</title>
        <script src="./scripts/default/anime.min.js"></script>
        <script src="./scripts/default/umbrella.min.js"></script>
        <script src="./scripts/functions.js"></script>
        <script src="./scripts/fetch.js"></script>
    </head>

    <body>
        <div id="root">
            <header id="logo">
                <h1>PoliceOS</h1>
            </header>
            <section class="row main-section">
                <div class="main-side">
                    <nav class="main-nav col">
                        <button class="nav-btn">Mandaty</button>
                        <button class="nav-btn">Aresztowania</button>
                        <button class="nav-btn">Notatki</button>
                    </nav>
                    <div class="col">
                        <div class="edit-user-info-wrapper" style="text-align: right;">
                            <i class="icons material-icons-outlined" style="position: fixed; left: 22px; top: 455px; font-size: 30px;">person_outline</i>
                            <button class="edit-user-info"><i class="icons-round">edit</i></button>
                        </div>
                        <div class="user-data">
                            <div class="user-info">
                                <span>Funkcjonariusz: </span>
                                <span id="user-name">-</span>
                            </div>
                            <div class="user-info">
                                <span>Stopień: </span>
                                <span id="user-status">-</span>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="main-view">
                    <div class="search-bar">
                        <input type="search" id="search" placeholder="Wpisz imię i nazwisko szukanego">
                    </div>
                    <div class="content">
                        <div class="wrapper" view="users">
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <script src="./scripts/app.js"></script>
    </body>

</html>
